/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #ebebeb;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(14, 14, 14, 0.1);
  border-radius: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-size: 1em;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
  background-color: #fffdfd;
  border-radius: 10px;
}

.container {
  padding: 20px;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.news-article {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.news-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.news-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.news-title {
  font-size: 1.1em;
  margin-bottom: 10px;
  font-weight: bold;
  color: #000000;
}

.news-description {
  flex-grow: 1;
  color: #555;
  margin-bottom: 10px;
}

.news-url {
  color: #1e90ff;
  text-decoration: none;
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  position:relative;
}

